<!DOCTYPE html>
<html class="theme-<%= BulletTrain::Themes::Light.color %>">
  <head>
    <%= render 'shared/layouts/head' %>
  </head>
  <body class="bg-light-gradient text-gray-700 text-sm font-normal electron-draggable dark:bg-dark-gradient dark:text-darkPrimary-300">
    <div data-turbo="false">
      <%= yield %>
    </div>
  </body>
</html>
