@layer utilities {
  .dark {
    /**
     * Custom components
     **/
    /* Color picker */
    .pcr-app {
      @apply bg-base-800 border border-solid border-base-900;

      .pcr-interaction .pcr-result {
        @apply text-base-300 border border-solid border-base-900 bg-base-800;

        &:focus {
          box-shadow: 0 0 0 1px var(--color-primary-500), 0 0 0 3px var(--color-primary-500);
        }
      }
    }

    /* Date range picker */
    .daterangepicker {
      @apply bg-base-800 border-base-900;

      &::before {
        border-bottom-color: var(--color-base-900);
      }

      &::after {
        border-bottom-color: var(--color-base-800);
      }

      .calendar-table {
        @apply bg-base-800 text-base-300;

        /* navigation arrows */
        .available {
          span {
            @apply border-primary-500;
          }
        }
      }

      /* Clear and Apply buttons wrapper */
      .drp-buttons {
        border-top-color: var(--color-base-900);
        @apply text-base-300;
      }

      th {
        &.available:hover {
          @apply bg-base-600;
        }
      }

      td {
        &.off {
          @apply bg-base-800 text-white;
        }

        &.available:hover {
          @apply bg-base-600;
        }
      }

      .hourselect, .minuteselect, .ampmselect {
        @apply text-base-300! border-base-900! bg-base-800!;
      }
    }

    /* Phone field */
    .iti__country-list {
      @apply bg-base-800 border border-solid border-base-900;
    }

    /* Select2 */
    .select2-container {
      .select2-selection__rendered {
        @apply text-base-300!;
      }

      .select2-dropdown {
        @apply bg-base-700;
      }

      .select2-search__field {
        @apply bg-base-800! border-base-900!;
      }

      .select2-selection--multiple, .select2-selection--single {
        @apply bg-base-800! focus:ring-primary-500! border-base-900!;
        @apply text-base-300;
      }

      /* For the selected options in the multiple select2 component */
      .select2-selection__choice {
        @apply bg-primary-500! border-primary-500!;
        @apply text-white;

        .select2-selection__choice__remove {
          @apply text-white;

          &:hover {
            @apply text-white;
          }
        }
      }

      .select2-results__option {
        @apply text-base-300;
      }
    }

    /* Trix Editor */
    trix-editor {
      @apply bg-base-800! border-base-900!;

      &:focus, &:active {
        @apply border-primary-500!;
      }
    }

    trix-toolbar {
      @apply opacity-50!;

      &.visible {
        @apply opacity-100!;
      }

      .trix-button-group, .trix-button {
        @apply border-base-400!;
      }

      .trix-button:disabled::before {
        @apply opacity-25;
      }

      .trix-dialog {
        @apply bg-base-800! border-base-900! shadow-lg! shadow-base-900!;

        .trix-button--dialog {
          @apply text-white;
        }

        .trix-input--dialog {
          @apply bg-base-800 dark:text-base-300 focus:ring-primary-500 focus:border-primary-500;
        }
      }
    }

    .tribute-container {
      ul {
        @apply bg-base-800! border-base-900!;
      }
    }

    .trix-dialogs {
      @apply bg-base-800! border-base-900!;
    }

    .trix-content a[href^="bullettrain://"] {
      @apply text-white bg-base-500;
    }

    /* CKEditor */
    .ck {
      --ck-color-base-background: var(--color-base-800);
      --ck-color-base-border: var(--color-base-900);
      --ck-color-toolbar-background: var(--color-base-800);
      --ck-color-toolbar-border: var(--color-base-900);
      --ck-color-text: var(--color-base-300);

      .ck-editor__editable:not(.ck-editor__nested-editable) {
        @apply shadow-none;

        &.ck-focused {
          @apply shadow-none;
        }
      }
    }
  }
}
