@import "./utilities/bg-fade";
@import "./utilities/billing";
@import "./utilities/scroll-reveal";

@utility space-y {
  & > :not(:first-child) {
    margin-top: calc(var(--spacing) * 5);
  }
}

@utility space-x {
  & > :not(:first-child) {
    margin-left: calc(var(--spacing) * 3);
  }
}

@utility gap-y {
  row-gap: calc(var(--spacing) * 5);
}

@utility gap-x {
  column-gap: calc(var(--spacing) * 4);
}

[hidden] {
  display: none !important;
}
