<!DOCTYPE html>

<html>
  <head>
  </head>

  <body>
    <p>
      Use `bin/resolve --interactive` and pass the annotated path
      of this page to eject it into your local project,<br/>
      or create `app/views/layouts/public.html.erb` manually
      and edit the file there.
    </p>
    <%= yield %>
  </body>
</html>
