.theme-amber {
  --primary-50: var(--color-amber-50);
  --primary-100: var(--color-amber-100);
  --primary-200: var(--color-amber-200);
  --primary-300: var(--color-amber-300);
  --primary-400: var(--color-amber-400);
  --primary-500: var(--color-amber-500);
  --primary-600: var(--color-amber-600);
  --primary-700: var(--color-amber-700);
  --primary-800: var(--color-amber-800);
  --primary-900: var(--color-amber-900);

  --secondary-50: var(--color-amber-50);
  --secondary-100: var(--color-amber-100);
  --secondary-200: var(--color-amber-200);
  --secondary-300: var(--color-amber-300);
  --secondary-400: var(--color-amber-400);
  --secondary-500: var(--color-amber-500);
  --secondary-600: var(--color-amber-600);
  --secondary-700: var(--color-amber-700);
  --secondary-800: var(--color-amber-800);
  --secondary-900: var(--color-amber-900);
}
