:root, .theme-blue {
  --primary-50: var(--color-blue-50);
  --primary-100: var(--color-blue-100);
  --primary-200: var(--color-blue-200);
  --primary-300: var(--color-blue-300);
  --primary-400: var(--color-blue-400);
  --primary-500: var(--color-blue-500);
  --primary-600: var(--color-blue-600);
  --primary-700: var(--color-blue-700);
  --primary-800: var(--color-blue-800);
  --primary-900: var(--color-blue-900);

  --secondary-50: var(--color-blue-50);
  --secondary-100: var(--color-blue-100);
  --secondary-200: var(--color-blue-200);
  --secondary-300: var(--color-blue-300);
  --secondary-400: var(--color-blue-400);
  --secondary-500: var(--color-blue-500);
  --secondary-600: var(--color-blue-600);
  --secondary-700: var(--color-blue-700);
  --secondary-800: var(--color-blue-800);
  --secondary-900: var(--color-blue-900);
}
