.theme-emerald {
  --primary-50: var(--color-emerald-50);
  --primary-100: var(--color-emerald-100);
  --primary-200: var(--color-emerald-200);
  --primary-300: var(--color-emerald-300);
  --primary-400: var(--color-emerald-400);
  --primary-500: var(--color-emerald-500);
  --primary-600: var(--color-emerald-600);
  --primary-700: var(--color-emerald-700);
  --primary-800: var(--color-emerald-800);
  --primary-900: var(--color-emerald-900);

  --secondary-50: var(--color-emerald-50);
  --secondary-100: var(--color-emerald-100);
  --secondary-200: var(--color-emerald-200);
  --secondary-300: var(--color-emerald-300);
  --secondary-400: var(--color-emerald-400);
  --secondary-500: var(--color-emerald-500);
  --secondary-600: var(--color-emerald-600);
  --secondary-700: var(--color-emerald-700);
  --secondary-800: var(--color-emerald-800);
  --secondary-900: var(--color-emerald-900);
}
