.theme-gray {
  --primary-50: var(--color-slate-50);
  --primary-100: var(--color-slate-100);
  --primary-200: var(--color-slate-200);
  --primary-300: var(--color-slate-300);
  --primary-400: var(--color-slate-400);
  --primary-500: var(--color-slate-500);
  --primary-600: var(--color-slate-600);
  --primary-700: var(--color-slate-700);
  --primary-800: var(--color-slate-800);
  --primary-900: var(--color-slate-900);

  --secondary-50: var(--color-slate-50);
  --secondary-100: var(--color-slate-100);
  --secondary-200: var(--color-slate-200);
  --secondary-300: var(--color-slate-300);
  --secondary-400: var(--color-slate-400);
  --secondary-500: var(--color-slate-500);
  --secondary-600: var(--color-slate-600);
  --secondary-700: var(--color-slate-700);
  --secondary-800: var(--color-slate-800);
  --secondary-900: var(--color-slate-900);
}
