.theme-indigo {
  --primary-50: var(--color-indigo-50);
  --primary-100: var(--color-indigo-100);
  --primary-200: var(--color-indigo-200);
  --primary-300: var(--color-indigo-300);
  --primary-400: var(--color-indigo-400);
  --primary-500: var(--color-indigo-500);
  --primary-600: var(--color-indigo-600);
  --primary-700: var(--color-indigo-700);
  --primary-800: var(--color-indigo-800);
  --primary-900: var(--color-indigo-900);

  --secondary-50: var(--color-indigo-50);
  --secondary-100: var(--color-indigo-100);
  --secondary-200: var(--color-indigo-200);
  --secondary-300: var(--color-indigo-300);
  --secondary-400: var(--color-indigo-400);
  --secondary-500: var(--color-indigo-500);
  --secondary-600: var(--color-indigo-600);
  --secondary-700: var(--color-indigo-700);
  --secondary-800: var(--color-indigo-800);
  --secondary-900: var(--color-indigo-900);
}
