.theme-orange {
  --primary-50: var(--color-orange-50);
  --primary-100: var(--color-orange-100);
  --primary-200: var(--color-orange-200);
  --primary-300: var(--color-orange-300);
  --primary-400: var(--color-orange-400);
  --primary-500: var(--color-orange-500);
  --primary-600: var(--color-orange-600);
  --primary-700: var(--color-orange-700);
  --primary-800: var(--color-orange-800);
  --primary-900: var(--color-orange-900);

  --secondary-50: var(--color-orange-50);
  --secondary-100: var(--color-orange-100);
  --secondary-200: var(--color-orange-200);
  --secondary-300: var(--color-orange-300);
  --secondary-400: var(--color-orange-400);
  --secondary-500: var(--color-orange-500);
  --secondary-600: var(--color-orange-600);
  --secondary-700: var(--color-orange-700);
  --secondary-800: var(--color-orange-800);
  --secondary-900: var(--color-orange-900);
}
