.theme-rose {
  --primary-50: var(--color-rose-50);
  --primary-100: var(--color-rose-100);
  --primary-200: var(--color-rose-200);
  --primary-300: var(--color-rose-300);
  --primary-400: var(--color-rose-400);
  --primary-500: var(--color-rose-500);
  --primary-600: var(--color-rose-600);
  --primary-700: var(--color-rose-700);
  --primary-800: var(--color-rose-800);
  --primary-900: var(--color-rose-900);

  --secondary-50: var(--color-rose-50);
  --secondary-100: var(--color-rose-100);
  --secondary-200: var(--color-rose-200);
  --secondary-300: var(--color-rose-300);
  --secondary-400: var(--color-rose-400);
  --secondary-500: var(--color-rose-500);
  --secondary-600: var(--color-rose-600);
  --secondary-700: var(--color-rose-700);
  --secondary-800: var(--color-rose-800);
  --secondary-900: var(--color-rose-900);
}
