.theme-sky {
  --primary-50: var(--color-sky-50);
  --primary-100: var(--color-sky-100);
  --primary-200: var(--color-sky-200);
  --primary-300: var(--color-sky-300);
  --primary-400: var(--color-sky-400);
  --primary-500: var(--color-sky-500);
  --primary-600: var(--color-sky-600);
  --primary-700: var(--color-sky-700);
  --primary-800: var(--color-sky-800);
  --primary-900: var(--color-sky-900);

  --secondary-50: var(--color-sky-50);
  --secondary-100: var(--color-sky-100);
  --secondary-200: var(--color-sky-200);
  --secondary-300: var(--color-sky-300);
  --secondary-400: var(--color-sky-400);
  --secondary-500: var(--color-sky-500);
  --secondary-600: var(--color-sky-600);
  --secondary-700: var(--color-sky-700);
  --secondary-800: var(--color-sky-800);
  --secondary-900: var(--color-sky-900);
}
