.theme-stone {
  --primary-50: var(--color-stone-50);
  --primary-100: var(--color-stone-100);
  --primary-200: var(--color-stone-200);
  --primary-300: var(--color-stone-300);
  --primary-400: var(--color-stone-400);
  --primary-500: var(--color-stone-500);
  --primary-600: var(--color-stone-600);
  --primary-700: var(--color-stone-700);
  --primary-800: var(--color-stone-800);
  --primary-900: var(--color-stone-900);

  --secondary-50: var(--color-stone-50);
  --secondary-100: var(--color-stone-100);
  --secondary-200: var(--color-stone-200);
  --secondary-300: var(--color-stone-300);
  --secondary-400: var(--color-stone-400);
  --secondary-500: var(--color-stone-500);
  --secondary-600: var(--color-stone-600);
  --secondary-700: var(--color-stone-700);
  --secondary-800: var(--color-stone-800);
  --secondary-900: var(--color-stone-900);
}
