.theme-teal {
  --primary-50: var(--color-teal-50);
  --primary-100: var(--color-teal-100);
  --primary-200: var(--color-teal-200);
  --primary-300: var(--color-teal-300);
  --primary-400: var(--color-teal-400);
  --primary-500: var(--color-teal-500);
  --primary-600: var(--color-teal-600);
  --primary-700: var(--color-teal-700);
  --primary-800: var(--color-teal-800);
  --primary-900: var(--color-teal-900);

  --secondary-50: var(--color-teal-50);
  --secondary-100: var(--color-teal-100);
  --secondary-200: var(--color-teal-200);
  --secondary-300: var(--color-teal-300);
  --secondary-400: var(--color-teal-400);
  --secondary-500: var(--color-teal-500);
  --secondary-600: var(--color-teal-600);
  --secondary-700: var(--color-teal-700);
  --secondary-800: var(--color-teal-800);
  --secondary-900: var(--color-teal-900);
}
