.theme-violet {
  --primary-50: var(--color-violet-50);
  --primary-100: var(--color-violet-100);
  --primary-200: var(--color-violet-200);
  --primary-300: var(--color-violet-300);
  --primary-400: var(--color-violet-400);
  --primary-500: var(--color-violet-500);
  --primary-600: var(--color-violet-600);
  --primary-700: var(--color-violet-700);
  --primary-800: var(--color-violet-800);
  --primary-900: var(--color-violet-900);

  --secondary-50: var(--color-violet-50);
  --secondary-100: var(--color-violet-100);
  --secondary-200: var(--color-violet-200);
  --secondary-300: var(--color-violet-300);
  --secondary-400: var(--color-violet-400);
  --secondary-500: var(--color-violet-500);
  --secondary-600: var(--color-violet-600);
  --secondary-700: var(--color-violet-700);
  --secondary-800: var(--color-violet-800);
  --secondary-900: var(--color-violet-900);
}
