.theme-zinc {
  --primary-50: var(--color-zinc-50);
  --primary-100: var(--color-zinc-100);
  --primary-200: var(--color-zinc-200);
  --primary-300: var(--color-zinc-300);
  --primary-400: var(--color-zinc-400);
  --primary-500: var(--color-zinc-500);
  --primary-600: var(--color-zinc-600);
  --primary-700: var(--color-zinc-700);
  --primary-800: var(--color-zinc-800);
  --primary-900: var(--color-zinc-900);

  --secondary-50: var(--color-zinc-50);
  --secondary-100: var(--color-zinc-100);
  --secondary-200: var(--color-zinc-200);
  --secondary-300: var(--color-zinc-300);
  --secondary-400: var(--color-zinc-400);
  --secondary-500: var(--color-zinc-500);
  --secondary-600: var(--color-zinc-600);
  --secondary-700: var(--color-zinc-700);
  --secondary-800: var(--color-zinc-800);
  --secondary-900: var(--color-zinc-900);
}
