.theme-secondary-amber {
  --secondary-50: theme('colors.amber.50');
  --secondary-100: theme('colors.amber.100');
  --secondary-200: theme('colors.amber.200');
  --secondary-300: theme('colors.amber.300');
  --secondary-400: theme('colors.amber.400');
  --secondary-500: theme('colors.amber.500');
  --secondary-600: theme('colors.amber.600');
  --secondary-700: theme('colors.amber.700');
  --secondary-800: theme('colors.amber.800');
  --secondary-900: theme('colors.amber.900');
}
