.theme-secondary-blue {
  --secondary-50: theme('colors.blue.50');
  --secondary-100: theme('colors.blue.100');
  --secondary-200: theme('colors.blue.200');
  --secondary-300: theme('colors.blue.300');
  --secondary-400: theme('colors.blue.400');
  --secondary-500: theme('colors.blue.500');
  --secondary-600: theme('colors.blue.600');
  --secondary-700: theme('colors.blue.700');
  --secondary-800: theme('colors.blue.800');
  --secondary-900: theme('colors.blue.900');
}