.theme-secondary-blue {
  --secondary-50: var(--color-blue-50);
  --secondary-100: var(--color-blue-100);
  --secondary-200: var(--color-blue-200);
  --secondary-300: var(--color-blue-300);
  --secondary-400: var(--color-blue-400);
  --secondary-500: var(--color-blue-500);
  --secondary-600: var(--color-blue-600);
  --secondary-700: var(--color-blue-700);
  --secondary-800: var(--color-blue-800);
  --secondary-900: var(--color-blue-900);
}