.theme-secondary-cyan {
  --secondary-50: var(--color-cyan-50);
  --secondary-100: var(--color-cyan-100);
  --secondary-200: var(--color-cyan-200);
  --secondary-300: var(--color-cyan-300);
  --secondary-400: var(--color-cyan-400);
  --secondary-500: var(--color-cyan-500);
  --secondary-600: var(--color-cyan-600);
  --secondary-700: var(--color-cyan-700);
  --secondary-800: var(--color-cyan-800);
  --secondary-900: var(--color-cyan-900);
}
