.theme-secondary-fuchsia {
  --secondary-50: var(--color-fuchsia-50);
  --secondary-100: var(--color-fuchsia-100);
  --secondary-200: var(--color-fuchsia-200);
  --secondary-300: var(--color-fuchsia-300);
  --secondary-400: var(--color-fuchsia-400);
  --secondary-500: var(--color-fuchsia-500);
  --secondary-600: var(--color-fuchsia-600);
  --secondary-700: var(--color-fuchsia-700);
  --secondary-800: var(--color-fuchsia-800);
  --secondary-900: var(--color-fuchsia-900);
}
