.theme-secondary-green {
  --secondary-50: var(--color-green-50);
  --secondary-100: var(--color-green-100);
  --secondary-200: var(--color-green-200);
  --secondary-300: var(--color-green-300);
  --secondary-400: var(--color-green-400);
  --secondary-500: var(--color-green-500);
  --secondary-600: var(--color-green-600);
  --secondary-700: var(--color-green-700);
  --secondary-800: var(--color-green-800);
  --secondary-900: var(--color-green-900);
}
