.theme-secondary-lime {
  --secondary-50: var(--color-lime-50);
  --secondary-100: var(--color-lime-100);
  --secondary-200: var(--color-lime-200);
  --secondary-300: var(--color-lime-300);
  --secondary-400: var(--color-lime-400);
  --secondary-500: var(--color-lime-500);
  --secondary-600: var(--color-lime-600);
  --secondary-700: var(--color-lime-700);
  --secondary-800: var(--color-lime-800);
  --secondary-900: var(--color-lime-900);
}
