.theme-secondary-neutral {
  --secondary-50: var(--color-neutral-50);
  --secondary-100: var(--color-neutral-100);
  --secondary-200: var(--color-neutral-200);
  --secondary-300: var(--color-neutral-300);
  --secondary-400: var(--color-neutral-400);
  --secondary-500: var(--color-neutral-500);
  --secondary-600: var(--color-neutral-600);
  --secondary-700: var(--color-neutral-700);
  --secondary-800: var(--color-neutral-800);
  --secondary-900: var(--color-neutral-900);
}
