.theme-secondary-orange {
  --secondary-50: var(--color-orange-50);
  --secondary-100: var(--color-orange-100);
  --secondary-200: var(--color-orange-200);
  --secondary-300: var(--color-orange-300);
  --secondary-400: var(--color-orange-400);
  --secondary-500: var(--color-orange-500);
  --secondary-600: var(--color-orange-600);
  --secondary-700: var(--color-orange-700);
  --secondary-800: var(--color-orange-800);
  --secondary-900: var(--color-orange-900);
}
