.theme-secondary-pink {
  --secondary-50: var(--color-pink-50);
  --secondary-100: var(--color-pink-100);
  --secondary-200: var(--color-pink-200);
  --secondary-300: var(--color-pink-300);
  --secondary-400: var(--color-pink-400);
  --secondary-500: var(--color-pink-500);
  --secondary-600: var(--color-pink-600);
  --secondary-700: var(--color-pink-700);
  --secondary-800: var(--color-pink-800);
  --secondary-900: var(--color-pink-900);
}
