.theme-secondary-pink {
  --secondary-50: theme('colors.pink.50');
  --secondary-100: theme('colors.pink.100');
  --secondary-200: theme('colors.pink.200');
  --secondary-300: theme('colors.pink.300');
  --secondary-400: theme('colors.pink.400');
  --secondary-500: theme('colors.pink.500');
  --secondary-600: theme('colors.pink.600');
  --secondary-700: theme('colors.pink.700');
  --secondary-800: theme('colors.pink.800');
  --secondary-900: theme('colors.pink.900');
}
