.theme-secondary-purple {
  --secondary-50: var(--color-purple-50);
  --secondary-100: var(--color-purple-100);
  --secondary-200: var(--color-purple-200);
  --secondary-300: var(--color-purple-300);
  --secondary-400: var(--color-purple-400);
  --secondary-500: var(--color-purple-500);
  --secondary-600: var(--color-purple-600);
  --secondary-700: var(--color-purple-700);
  --secondary-800: var(--color-purple-800);
  --secondary-900: var(--color-purple-900);
}
