.theme-secondary-red {
  --secondary-50: var(--color-red-50);
  --secondary-100: var(--color-red-100);
  --secondary-200: var(--color-red-200);
  --secondary-300: var(--color-red-300);
  --secondary-400: var(--color-red-400);
  --secondary-500: var(--color-red-500);
  --secondary-600: var(--color-red-600);
  --secondary-700: var(--color-red-700);
  --secondary-800: var(--color-red-800);
  --secondary-900: var(--color-red-900);
}
