.theme-secondary-teal {
  --secondary-50: var(--color-teal-50);
  --secondary-100: var(--color-teal-100);
  --secondary-200: var(--color-teal-200);
  --secondary-300: var(--color-teal-300);
  --secondary-400: var(--color-teal-400);
  --secondary-500: var(--color-teal-500);
  --secondary-600: var(--color-teal-600);
  --secondary-700: var(--color-teal-700);
  --secondary-800: var(--color-teal-800);
  --secondary-900: var(--color-teal-900);
}
