.theme-secondary-violet {
  --secondary-50: var(--color-violet-50);
  --secondary-100: var(--color-violet-100);
  --secondary-200: var(--color-violet-200);
  --secondary-300: var(--color-violet-300);
  --secondary-400: var(--color-violet-400);
  --secondary-500: var(--color-violet-500);
  --secondary-600: var(--color-violet-600);
  --secondary-700: var(--color-violet-700);
  --secondary-800: var(--color-violet-800);
  --secondary-900: var(--color-violet-900);
}
