.theme-secondary-yellow {
  --secondary-50: var(--color-yellow-50);
  --secondary-100: var(--color-yellow-100);
  --secondary-200: var(--color-yellow-200);
  --secondary-300: var(--color-yellow-300);
  --secondary-400: var(--color-yellow-400);
  --secondary-500: var(--color-yellow-500);
  --secondary-600: var(--color-yellow-600);
  --secondary-700: var(--color-yellow-700);
  --secondary-800: var(--color-yellow-800);
  --secondary-900: var(--color-yellow-900);
}
