.theme-secondary-zinc {
  --secondary-50: var(--color-zinc-50);
  --secondary-100: var(--color-zinc-100);
  --secondary-200: var(--color-zinc-200);
  --secondary-300: var(--color-zinc-300);
  --secondary-400: var(--color-zinc-400);
  --secondary-500: var(--color-zinc-500);
  --secondary-600: var(--color-zinc-600);
  --secondary-700: var(--color-zinc-700);
  --secondary-800: var(--color-zinc-800);
  --secondary-900: var(--color-zinc-900);
}
