@layer utilities {
  .pricing-table-shadow {
    box-shadow: 0 2px 30px 0 rgba(54,88,206,0.2);
  }

  .pricing-page-background {
    background-image: linear-gradient(to bottom, #f8faff, #fff);
  }

  .brand-title {
    color: #047bf8;
    font-size: 2.99rem;
    margin: 30px 0px;
    margin-top: 10px;
    position: relative;
    letter-spacing: -0.025em;
    line-height: 120%;
    @apply font-bold;
  }

  .brand-description {
    color: #868686;
    font-size: 1.2rem;
    line-height: 1.5;
    @apply font-extralight;
  }

  .text-light-gradient {
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-fill-color: rgba(0,0,0,0);
    background-attachment: scroll;
    background-clip: text;
    background-color: rgba(0,0,0,0);
    @apply bg-base-800 bg-gradient-to-r from-primary-500
  }
}
