version: 2.1
orbs:
  ruby: circleci/ruby@2.0.0
  node: circleci/node@5.1.0
  browser-tools: circleci/browser-tools@1.4.4
aliases:
  - &ruby_node_browsers_docker_image
      - image: cimg/ruby:3.2.2-browsers
        environment:
          PGHOST: localhost
          PGUSER: untitled_application
          RAILS_ENV: test
  - &postgres_docker_image
      - image: circleci/postgres
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: untitled_application_test
          POSTGRES_USER: untitled_application
  - &wait_for_docker
      # We run this because the DB might not be available for a while due to a race condition.
      run: dockerize -wait tcp://localhost:5432 -timeout 1m
jobs:
  'Local Minitest':
    docker:
      - <<: *ruby_node_browsers_docker_image
      - <<: *postgres_docker_image
      - image: circleci/redis
    executor: ruby/default
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project/local/bullet_train-core
      - browser-tools/install-chrome:
          chrome-version: "116.0.5845.96" # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
          replace-existing: true # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
      - browser-tools/install-chromedriver

      - run: local/bullet_train-core/bin/checkout-and-link-starter-repo-for-core-tests

      - ruby/install-deps:
          clean-bundle: true
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build:css
      - run: yarn build
      - *wait_for_docker
      - run:
          name: Run unit tests
          command: ./local/bullet_train-core/bin/test-core-gems

  'Local Standard Ruby':
    docker:
      - <<: *ruby_node_browsers_docker_image
    steps:
      - checkout
      - ruby/install-deps:
          clean-bundle: true
      - run:
          name: Check Standard Ruby
          command: bundle exec standardrb

  'Starter Repo Minitest':
    docker:
      - <<: *ruby_node_browsers_docker_image
      - <<: *postgres_docker_image
      - image: circleci/redis
    executor: ruby/default
    working_directory: tmp/starter
    parallelism: 2
    steps:
      - checkout:
          path: ~/project
      - browser-tools/install-chrome:
          chrome-version: "116.0.5845.96" # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
          replace-existing: true # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
      - browser-tools/install-chromedriver

      - run: ../../bin/checkout-and-link-starter-repo

      - ruby/install-deps:
          clean-bundle: true
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build:css
      - run: yarn build

      - *wait_for_docker

      - run:
          name: Run unit tests
          command: bundle exec rails test
      - run:
          name: Run system tests
          command: bundle exec rails test:system

      # If you want to gather test results in CircleCI when not running tests in parallel,
      # include `minitest-ci` in your Gemfile and uncomment the following step.
      # You can access the test results via the "Tests" tab within each build in CircleCI.
      #
      # - store_test_results:
      #     path: test/reports

  'Starter Repo Minitest for Super Scaffolding':
    docker:
      - <<: *ruby_node_browsers_docker_image
      - <<: *postgres_docker_image
      - image: circleci/redis
    executor: ruby/default
    working_directory: tmp/starter
    parallelism: 7
    steps:
      - checkout:
          path: ~/project
      - browser-tools/install-chrome:
          chrome-version: "116.0.5845.96" # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
          replace-existing: true # TODO: remove -> https://github.com/CircleCI-Public/browser-tools-orb/issues/75
      - browser-tools/install-chromedriver

      - run: ../../bin/checkout-and-link-starter-repo

      - ruby/install-deps:
          clean-bundle: true
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build:css
      - run: yarn build

      - *wait_for_docker

      - run: "bundle config unset deployment" # Remove the lock from ruby/install-deps
      - run: "bundle add spring"
      - run:
          name: 'Setup Super Scaffolding System Test'
          command: "bundle exec test/bin/setup-super-scaffolding-system-test"
      - run:
          name: 'Run Super Scaffolding Test'
          command: "bundle exec rails test test/system/super_scaffolding_test.rb"
      - run:
          name: 'Run Super Scaffolding Partial Test'
          command: 'bundle exec rails test test/system/super_scaffolding_partial_test.rb'

workflows:
  version: 2
  build:
    jobs:
      - 'Local Standard Ruby'
      - 'Local Minitest'
      - 'Starter Repo Minitest'
      - 'Starter Repo Minitest for Super Scaffolding'
