<% color ||= 'yellow' %>

<div class="rounded-md bg-<%= color %>-400 border border-<%= color %>-500 py-4 px-5 mb-3">
  <h3 class="text-sm text-<%= color %>-900 font-light">
    <%= yield %>
  </h3>
</div>

<% # we have to list out the evaluations we want possible above so purgecss includes them in production. %>
<% if false %>
  <div class="bg-yellow-400 border-yellow-500 text-yellow-900"></div>
  <div class="bg-red-400 border-red-500 text-red-900"></div>
<% end %>
