<% url ||= nil %>
<% strategy ||= current_attributes_strategy || :none %>
<% html_options ||= {} %>

<% body = link_to_if url.present?, partial.body, url, html_options %>

<% case strategy %>
<% when :label %>
  <div>
    <label class="block text-2xs uppercase font-semibold py-2 dark:text-white">
      <%= partial.heading %>
    </label>
    <div class="dark:text-base-400">
      <%= body %>
    </div>
  </div>
<% else %>
  <%= body %>
<% end %>
