<% showcase.description "Button styles are applied as a utility class." %>

<% showcase.sample "Basic" do %>
  <a class="button">Default Button</a>
<% end %>

<% showcase.sample "Secondary" do %>
  <a class="button-secondary">Secondary Button</a>
<% end %>

<% showcase.sample "Alternative" do %>
  <a class="button-alternative">Alternative Button</a>
<% end %>

<% showcase.sample "Smaller" do %>
  <a class="button button-smaller">Smaller Button</a>
<% end %>
