<% showcase.description "An even smaller, stylized text is provided as a utility class." %>

<% showcase.sample "Smaller Text" do %>
  <span class="text-2xs">Even smaller text than Tailwind provides!</span>
<% end %>
