<% showcase.description "Generic spacing utilities that can be mapped to a concrete Tailwind class by each theme." %>

<% showcase.sample "Vertical Spacing" do %>
  <div class="space-y">
    <div class="button block">Item</div>
    <div class="button block">Item</div>
    <div class="button block">Item</div>
    <div class="button block">Item</div>
  </div>
<% end %>

<% showcase.sample "Horizontal Spacing" do %>
  <div class="flex space-x">
    <div class="flex-1 button">Item</div>
    <div class="flex-1 button">Item</div>
    <div class="flex-1 button">Item</div>
    <div class="flex-1 button">Item</div>
  </div>
<% end %>

<% # TODO Add `gap-y` and `gap-x`. %>