<%
stimulus_controller = 'fields--password'

form ||= current_fields_form
options ||= {}

strong_passwords = Object.const_defined?("BulletTrain::Configuration") ? BulletTrain::Configuration.strong_passwords : true

# TODO: This should be `bt_options`
if options[:show_strength_indicator] && strong_passwords
  options = options.merge({ data: {"action": "keyup->fields--password#estimateStrength" }})
end

other_options ||= {}
%>

<div data-controller="<%= stimulus_controller %>">
  <%# We don't call the `password_field` helper inline in this partial, so we need to pass `options: options` here. %>
  <%= render 'shared/fields/field', form: form, method: method, helper: :password_field, options: options, other_options: other_options %>

  <%# TODO: This should be `bt_options` %>
  <% if options[:show_strength_indicator] %>
    <% # TODO This is the wrong place to define this kind of style, but I couldn't make this work in the `:help` content buffer. %>
    <div data-<%= stimulus_controller %>-target="strengthIndicator" class="hidden mt-1.5 text-xs text-red-500"></div>
  <% end %>
</div>
