<% showcase.description do %>
  <p>Partial to wrap an app page, like a #show view.</p>

  <p>It's composed of three content sections:</p>

  <p>
    <ol>
      <li>render "shared/title", with the title and actions provided.</li>
      <li>render "shared/notices", for any account level notices.</li>
      <li>Outputs the passed body.</li>
    </ol>
  </p>
<% end %>

<% showcase.sample "Basic" do %>
  <%= render "shared/page" do |partial| %>
    <% partial.content_for :title, "Title" %>
    <% partial.content_for :actions, "Actions" %>
    <% partial.content_for :body, "Lorem ipsum dolor sit amet…" %>
  <% end %>
<% end %>

<% showcase.options do |o| %>
  <% o.optional :title, type: "Content Block" %>
  <% o.optional :actions, type: "Content Block" %>
  <% o.optional :body, type: "Content Block" %>
<% end %>
