name: "Gem Tests"

on:
  - "pull_request"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
        gem:
          # - "bullet_train"
          # - "bullet_train-api"
          # - "bullet_train-fields"
          # - "bullet_train-has_uuid"
          # - "bullet_train-incoming_webhooks"
          # - "bullet_train-integrations"
          # - "bullet_train-integrations-stripe"
          # - "bullet_train-obfuscates_id"
          # - "bullet_train-outgoing_webhooks"
          - "bullet_train-roles"
          # - "bullet_train-scope_questions"
          # - "bullet_train-scope_validator"
          # - "bullet_train-sortable"
          # - "bullet_train-super_load_and_authorize_resource"
          - "bullet_train-super_scaffolding"
          # - "bullet_train-themes"
          # - "bullet_train-themes-light"
          # - "bullet_train-themes-tailwind_css"

    name: ${{ format('{0} / {1}', matrix.gem, matrix.ruby-version) }}
    runs-on: "ubuntu-latest"

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 2s
          --health-timeout 3s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      PGHOST: localhost
      PGUSER: postgres
      PGPASSWORD: postgres
      RAILS_ENV: test

    steps:
      - uses: "actions/checkout@v3"

      - name: Install PostgreSQL client
        run: |
          sudo apt-get -yqq install libpq-dev

      # - name: "Use latest gems"
      #   working-directory: ${{ matrix.gem }}
      #   run: rm Gemfile.lock

      - uses: "ruby/setup-ruby@v1"
        with:
          bundler: default
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}
          working-directory: ${{ matrix.gem }}

      - run: bin/rails db:setup
        working-directory: ${{ matrix.gem }}

      - name: Run Tests
        working-directory: ${{ matrix.gem }}
        run: bin/rails test test/
